<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Thank-Q.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>thankq_wigetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92159FC22DB36A6F0045B7EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92159FD22DB36A700045B7EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92159FDC2DB36A700045B7EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92B5A2A42E1FBADF00E90D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
